* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  align-items: center;
}

header label {
  margin-left: auto;
  margin-right: 5px;
}

header select {
  width: 100px;
  background-color: #e9e9ed;
  border-radius: 5px;
  border-color: black;
  padding: 2px;
}

header button {
  padding: 2px 20px;
  margin-left: 30px;
  border-radius: 5px;
  border-color: black;
}


header div img {
  width: 75%;
}

main {
  flex-grow: 1;
  background-color: #7fffd4;
  display: flex;
  align-items: center;
  justify-content: center;
}

 main .field {
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  align-content: start;
  display: none;
}

main .field.active {
  display: flex;
}

main .field .cell-10 {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .field .cell-9 {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .field .cell-7 {
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .field .active {
  background-color: lightseagreen;
}


footer {
  padding: 20px;
  font-size: 18px;
}
