* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

header button {
  margin-left: auto;
  align-self: center;
  padding: 0 20px;
}

header div {
  align-self: center;
  margin-right: 10px;
}

main {
  flex-grow: 1;
  background-color: #7fffd4;
  display: flex;
  align-items: center;
  justify-content: center;
}

 main .field {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  /* display: none; */
}

main .field .cell-10 {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .field .cell-9 {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .field .cell-7 {
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 20px;
  font-size: 18px;
}
